### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized, stored, and managed to enable efficient data storage, retrieval, and manipulation. It serves as a central repository for data used by applications.

difference between sql and NOsql are:
1. SQL databases follow a relational data model and utilize SQL as the query language. They have predefined schemas, enforce data consistency, and are suitable for complex relationships and structured data.
2. NoSQL databases encompass various data models like key-value, document, columnar, or graph. They provide flexibility, scalability, and high performance, making them ideal for unstructured or semi-structured data, distributed systems, and horizontal scaling.
3. Examples of SQL databases include MySQL, PostgreSQL, and Oracle, while popular NoSQL databases include MongoDB, Cassandra, and Redis.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define and manage the structure and organization of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, and constraints.

The CREATE statement is used to create new database objects, such as tables, views, indexes, or schemas.
Example: CREATE TABLE statement is used to create a new table. 

The DROP statement is used to remove or delete existing database objects from the database.
Example: DROP TABLE statement is used to remove a table

The ALTER statement is used to modify the structure or properties of existing database objects.
Example: ALTER TABLE statement is used to add, modify, or delete columns in an existing table

he TRUNCATE statement is used to remove all the data from a table while keeping the structure intact.
Example: TRUNCATE TABLE statement is used to delete all rows from a table.

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manage and manipulate the data within a database. DML statements are used to insert, update, and delete data from tables.

The INSERT statement is used to add new rows of data into a table.
Example: INSERT INTO statement is used to insert data into a table.

The UPDATE statement is used to modify existing data within a table.
Example: UPDATE statement is used to update data in a table.

The DELETE statement is used to remove specific rows or all rows from a table.
Example: DELETE FROM statement is used to delete data from a table.

### Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL used to retrieve and query data from a database. DQL statements, primarily the SELECT statement, are used to retrieve data from one or more tables.

The SELECT statement is used to retrieve data from one or more tables in a database.
SELECT * FROM customers;

### Q5. Explain Primary Key and Foreign Key.


#### Primary Key:

1. A primary key is a column or set of columns that uniquely identifies each record in a table.
2. It ensures data integrity and uniqueness within the table.
3. A table can have only one primary key, and it is used to establish relationships with other tables.

#### Foreign Key:

1. A foreign key is a column or set of columns that references the primary key of another table.
2. It establishes a relationship between two tables, enforcing referential integrity.
3. Foreign keys help maintain data consistency and enable relational connections between tables.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

connection = mysql.connector.connect(
    host="localhost",
    user="kunal",
    password="kunaldhand",
    database="test"
)


if connection.is_connected():
    print("Connected to MySQL")

connection.close()

#### cursor
1. The cursor() method is used to create a cursor object, which is responsible for executing SQL queries and fetching data from the database.
2. The cursor object allows you to interact with the database and perform operations like executing queries, fetching data, and managing transactions.
#### execute
1. The execute() method is used to execute SQL queries through the cursor object.
2. It takes the SQL query as a parameter and executes it on the connected MySQL database.

### Q7. Give the order of execution of SQL clauses in an SQL query.

1. ROM: Specifies the table or tables from which to retrieve data.
2. WHERE: Filters the rows based on specified conditions.
3. GROUP BY: Groups the rows based on specified columns.
4. HAVING: Filters the groups based on specified conditions.
5. SELECT: Specifies the columns to retrieve from the selected table(s).
6. DISTINCT: Eliminates duplicate rows from the result set.
7. ORDER BY: Sorts the result set based on specified columns.
8. LIMIT/OFFSET: Restricts the number of rows returned or skips a specified number of rows.
9. UNION/INTERSECT/EXCEPT: Combines the result sets of multiple queries.
10. INSERT: Inserts new rows into a table.
11. UPDATE: Modifies existing rows in a table.
12. DELETE: Deletes rows from a table.