### Consider following code to answer further questions:

In [3]:

import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

### Q1. Write a code to print the data present in the second row of the dataframe, df.

In [9]:
df.iloc[1:2]

        course_name  duration
1  Machine Learning         3

### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc

1. loc is used for label-based indexing and selects data by explicitly specifying row and column labels.
2. The syntax is df.loc[row_indexer, column_indexer].
3. It accepts labels or lists of labels as indexers.

iloc

1. iloc is used for integer-based indexing and selects data by using integer-based positions of rows and columns.
2. The syntax is df.iloc[row_indexer, column_indexer].
3. It accepts integer values or lists of integer values as indexers.

### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [12]:
reindex = [3,0,1,2]
new_df = df.reindex(reindex)
print(new_df.loc[2])
print(new_df.iloc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

### Consider the below code to answer further questions:

In [13]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

### Q4. Write a code to find the following statistical measurements for the above dataframe df1:
1. mean of each and every column present in the dataframe.
2. standard deviation of column, ‘column_2’

In [15]:
df1.mean()

column_1    0.260872
column_2    0.370015
column_3    0.463995
column_4    0.477640
column_5    0.486013
column_6    0.683142
dtype: float64

In [16]:
df1.std()

column_1    0.232031
column_2    0.349709
column_3    0.316587
column_4    0.275265
column_5    0.405437
column_6    0.274863
dtype: float64

### Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2. If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [26]:
df1.loc[2:2]= 'column_2'
df1.mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

error occur because we cant find the mean of the string data type

### Q6. What do you understand about the windows function in pandas and list the types of windows functions?

window functions in pandas allow you to perform calculations on a sliding or expanding window of data. The types of window functions are:

1. Rolling Window Functions: Perform calculations on a fixed-size sliding window of data.
2. Expanding Window Functions: Calculate statistics on all data available up to a given point.
3. EWM (Exponentially Weighted Moving) Window Functions: Calculate exponentially weighted moving averages of a window of data.

### Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [30]:
print(pd.Timestamp.now())

2023-06-28 20:22:11.846254

### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [35]:
start_date = input("Enter the starting date in the format YYYY-MM-DD")
end_date = input("Enter the end date in the format YYYY-MM-DD")

time1 = pd.Timestamp(start_date)
time2 = pd.Timestamp(end_date)

time_diff = time2- time1

time_day= time_diff.days
time_hour = time_diff.seconds //3600
time_min = (time_diff.seconds %3600) //60

print(f"Days are{time_day} hours {time_hour} minutes{time_min}")

Enter the starting date in the format YYYY-MM-DD2002-03-16
Enter the end date in the format YYYY-MM-DD2023-06-28
Days are7774 hours 0 minutes0

### Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [ ]:
file_path = input("Enter the file path: ")
column_name = input("Enter the column name to convert to categorical: ")
category_order = input("Enter the category order (comma-separated values): ")
df = pd.read_csv(file_path)
df[column_name] = pd.Categorical(df[column_name], categories=category_order.split(','))
sorted_df = df.sort_values(column_name)
print(sorted_df)

### Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
file_path = input("Enter the file path: ")
df = pd.read_csv(file_path)
df['Date'] = pd.to_datetime(df['Date'])
grouped_df = df.groupby(['Date', 'Category'])['Sales'].sum().unstack()
grouped_df.plot(kind='bar', stacked=True)
plt.title('Sales by Product Category Over Time')
plt.xlabel('Date')
plt.ylabel('Sales')
plt.show()

### Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.


The program should do the following:

1. Prompt the user to enter the file path of the CSV file containing the student dataR
2. Read the CSV file into a Pandas DataFrameR
3. Calculate the mean, median, and mode of the test scores using Pandas toolsR
4. Display the mean, median, and mode in a table.

Assume the CSV file contains the following columns:
1. Student ID: The ID of the studentR
2. Test Score: The score of the student's test.

Example usage of the program:

Enter the file path of the CSV file containing the student data: student_data.csv

+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+

Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score

1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85

The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [37]:
file_path = input("Enter the path of the file: ")
df = pd.read_csv(file_path)
mean = df["Test Score"].mean()
median = df["Test Score"].median()
mode = df["Test Score"].mode()

print(f"mean is {mean}")
print(f"median is {median}")
print(f"mode is {mode}")

Enter the path of the file: students.csv
mean is 83.5
median is 85.0
mode is 0    85
Name: Test Score, dtype: int64